* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 24% 1fr;
}

.barra-lateral {
    background-color: #C9231B;

}
main{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

label {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.c-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}